  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <div class="container">
      <a class="navbar-brand" href="#">
        <img id="coffee-right" src="/images/cafe/crazycoffee.png" alt="" width="70" height="50"> 
      </a>
    </div>
    <% if (user) { %>
      <a href="/auth/logout">Logout</a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
    <a href="/cafes">
    <button class="catalogBtn" type="submit">Cafe Catalog</button>
    </a>
    <a href="/">
    <button class="homeBtn" type="submit">Home</button>
    </a>
    
  </nav>