<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
<link rel="stylesheet" href="/stylesheets/style.css">


  <h2> Welcome to Espressonality, <%= user ? user.profile.name : "" %>!
    <div class="card">
      <div class="card-body">
        <p class="card-text">Have all your favorite cafes organized in one place. Find new places to explore by going through the cafe catalog!</p>
        <p class="card-text"></p>
      </div>
      <img src="/images/cafe/coffeehouse.png" class="card-img-bottom" alt="...">
    </div>
  </h2>

<%- include('./partials/footer') %>
