html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-color: #e6fff5;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: 'Yuji Syuku', serif;
  font-size: 11px;
  margin: 0;
}

nav {
  background-color: #DEB887;
  height: 50px;
  font-size: 1.6rem;
  display: flex;
  justify-content: row;
}
/* #e2c8a5 */
#logoutBtn {
  font-family: 'Yuji Syuku', serif;
  position: absolute;
  top: 10px;
  right:0;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  background-color: #DEB887;
  font-size: larger;
  transition-duration: 0.3s;
} 

#logoutBtn:hover {
  background-color: #e9d8c4; 
  color: #e6fff5;
}
.catalogBtn {
  font-family: 'Yuji Syuku', serif;
  margin-top: 20px;
  margin-right: 10px;
  border: none;
  background-color: #DEB887;
  font-size: larger;
  transition-duration: 0.3s;
}
.catalogBtn:hover {
  background-color: #e9d8c4; 
  color: #e6fff5;
}
.homeBtn {
  font-family: 'Yuji Syuku', serif;
  margin-top: 20px;
  border: none;
  background-color: #DEB887;
  font-size: larger;
  transition-duration: 0.3s;
}

.homeBtn:hover {
  background-color: #e9d8c4; 
  color: #e6fff5;
}

section {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3.6rem;
  text-align: center;
}
h2 {
  text-align: center;
}

.card {
  position: relative;
  text-align: center;
}


#coffee-right {
  margin-left: 10px;
  transform: scaleX(-1);
}

.card-img-top {
  margin-left: 20px;
}

.cafe-info {
  margin-left: 30px;
}


.infoBtn {
  display: inline-block;
  width: 70px; 
  height: 30px; 
  background-color: #e6fff5;
}

.addcafeBtn {
  display: inline-block;
  width: 60px; 
  height: 40px; 
  background-color: #e6fff5;
  margin-left: 25px;
}

.viewcatalogBtn {
  display: inline-block;
  width: 60px; 
  height: 40px; 
  background-color: #e6fff5;
  margin-left: 25px;
}

.form-group {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

form {
  text-align: center;
}

#form-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}