<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h3>Welcome! Add your favorite cafe to your collection!</h3>

<form action="/cafes" method="POST">
  <h3>Name:<input name="name" type="text"></h3>
  <h3>Address:<input name="address" type="text"></h3>
  <h3>Website:<input name="website" type="text"></h3>
</form>



<%- include('../partials/footer') %>

