<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h2>Welcome! Add your favorite cafe to your collection!</h2>

<form action="/cafes" method="POST">
  <h3>Name:<input name="name" type="text"></h3>
  <button type="submit">add cafe</button>
  <a href="/cafes">View Cafe Collection</a>
</form>



<%- include('../partials/footer') %>

